<div class="card my-5">
  <div class="card-body">
    <p-dropdown [options]="usersSelectItem" [(ngModel)]="selectedUsers" placeholder="Select User" optionLabel="label"
      [showClear]="true"></p-dropdown>

    <form (ngSubmit)="onSubmit()" #usersForm="ngForm">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" [(ngModel)]="usersSubmit.password" class="form-control" id="password" name="password"
          placeholder="Enter your password" required #username="ngModel">
      </div>
      <div [hidden]="!username.pristine" class="alert alert-danger">Password is required</div>
      <button type="submit" [disabled]="!usersForm.form.valid" class="btn btn-info">Login</button>
    </form>
  </div>
</div>